@model EventManagementSystem.Models.UpcomingPassedEventsViewModel

@{
    ViewBag.Title = "Event Details";
}

<h1 class="event-group-heading">Upcoming Events</h1>

<div class="row">
    <table id="UpcomingEvents" class="table table-bordered table-responsive table-hover" style="width:100%">
        <thead style="background-color: darkturquoise;">
        <tr>
            <th>Title</th>
            <th>StartDateTime</th>
            <th>Duration</th>
            @*<th>Description</th>*@
            <th>Location</th>
            <th>Ticket Rate</th>
            <th>Total Seats</th>
            <th>Booked Seats</th>
            <th>CreatedDateTime</th>
            <th>Actions</th>
         </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<h1 class="event-group-heading">Passed Events</h1>

<div class="row">
    @*<input type="button" value="Export to Excel" id="btnExportToExcel" class="btn btn-default" />*@
    <img src="../images/Excel.png" id="btnExportToExcel" title="Export to Excel" style="cursor:pointer;float:right;width:30px;" />
    <table id="PassedEvents" class="table table-bordered table-responsive table-hover" style="width:100%">
        <thead style="background-color: darkturquoise;">
            <tr>
                <th>Title</th>
                <th>StartDateTime</th>
                <th>Duration</th>
                @*<th>Description</th>*@
                <th>Location</th>
                <th>Ticket Rate</th>
                <th>Total Seats</th>
                <th>Booked Seats</th>
                <th>CreatedDateTime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" id="Event" name="Event" />
                <h4 class="modal-title">Delete Event</h4>
            </div>
            <div class="modal-body">
                @*<table id="InviteFriends" class="table" style="width:100%"></table>*@
                <p>Are you sure you want to delete this event?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnDelete" data-dismiss="modal">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        
    </div>
</div>
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
@section scripts {
    <script type="text/javascript">
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
        $(document).ready(function () {

            onload();
            //$('#UpcomingEvents').DataTable({ "aaSorting": [[1, "desc"]]});
            //$('#UpcomingEvents').DataTable(/*{ "order": [[1, "asc"]]}*/
            //    {
            //    bSort: false,
            //    aoColumns: [{ sWidth: "45%" }, { sWidth: "45%" }, { sWidth: "10%", bSearchable: false, bSortable: false }],
            //    "scrollY": "200px",
            //    "scrollCollapse": true,
            //    "info": true,
            //    "paging": true
            //    }
            //);
            //$('#PassedEvents').DataTable();
        });

        $("#btnExportToExcel").click(function () {
            $("#PassedEvents").table2excel({
                // exclude CSS class
                exclude: ".noExl",
                name: "Event History",
                filename: "Event History"
            });

        });

        function onload() {

            var datamodel = {
                UserId : userId
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:52077/api/Account/POSTMyEvents",
                data: datamodel,
                success: function (data) {
                    //$("#UpcomingEvents").empty();
                    if (data.Table.length > 0) {
                        //$("#UpcomingEvents").append("<thead><tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th><th>Ticket Rate</th><th>Total Seats</th><th>Booked Seats</th><th>CreatedDateTime</th><th>Actions</th></tr></thead><tbody>");
                        //$("#UpcomingEvents").append("<tbody>");
                        for (var i = 0; i < data.Table.length; i++) {
                            //debugger
                            $("#UpcomingEvents tbody").append("<tr><td>" +
                                data.Table[i].Title + "</td> <td>" +
                                data.Table[i].StartDateTime + "</td> <td>" +
                                data.Table[i].Duration + "</td> <td>" +
                                //data.Table[i].Description + "</td><td>" +
                                data.Table[i].Location + "</td><td>Rs." +
                                data.Table[i].TicketRate + "</td><td>" +
                                data.Table[i].Seats + "</td><td>" +
                                data.Table[i].BookedSeats + "</td><td>" +
                                data.Table[i].CreatedDateTime + "</td><td>"+
                                //"<a href='#' id='" + data.Table[i].Id + "' onclick='GetEventId(this)' data-toggle='modal' data-target='#myModal'>Invite Friends</a><span>  </span>" +
                                //"<a href='#' id='Edit" + data.Table[i].Id + "' onclick='EditEvent(this)'>Edit</a><span>  </span>" +
                                "<img src='../images/Edit.png' title='Edit' id='Edit" + data.Table[i].Id + "' onclick='EditEvent(this)' style='width: 30px;cursor: pointer;' />"+
                                "<img src='../images/Delete.png' title='Delete' id='Delete" + data.Table[i].Id + "' onclick='DeleteEvent(this)' style='width: 30px;cursor: pointer;' data-toggle='modal' data-target='#myModal'/></td></tr>" 
                                //"<a href='#' id='Delete" + data.Table[i].Id + "' onclick='DeleteEvent(this)' data-toggle='modal' data-target='#myModal'>Delete</a></td></tr>"
                                //"<button type='button' class='btn btn-info' id='" + data.Table[i].Id + "' onclick='GetEventId(this)' data-toggle='modal' data-target='#myModal'>Invite Friends</button>" +
                                //"<input type='submit' class='btn btn-info' value='Edit' id='Edit" + data.Table[i].Id + "' onclick='EditEvent(this)'/>" +
                                //"<button type='button' class='btn btn-info' id='Delete" + data.Table[i].Id + "' onclick='DeleteEvent(this)'>Delete</button></td></tr>"
                                //data.Table[i].IsPublic + "</td></tr>"
                            );
                        }

                        //$("#UpcomingEvents").append("</tbody>");

                        //$("#UpcomingEvents").append("<tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th></tr>");
                        //for (var i = 0; i < data.Table2.length; i++) {
                        //    //debugger
                        //    $("#InviteFriends").append("<tr><td style='width: 25%'>" +
                        //        data.Table2[i].Name + "</td> <td style='width: 25%'>" +
                        //        data.Table2[i].Email + "</td> <td style='width: 25%'>" +
                        //        "<input type='checkbox' id='chk" + data.Table2[i].Id + "' /></td></tr>"
                        //        //data.Table[i].IsPublic + "</td></tr>"
                        //    );
                        //}
                    }
                    else {
                        $("#UpcomingEvents").append("<tr><td> No Events Found </td></tr>");
                    }

                    //$("#PassedEvents").empty();
                    if (data.Table1.length > 0) {
                        //$("#PassedEvents").append("<tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th><th>Ticket Rate</th><th>Total Seats</th><th>Booked Seats</th><th>CreatedDateTime</th></tr>");
                        for (var i = 0; i < data.Table1.length; i++) {
                            //debugger
                            $("#PassedEvents tbody").append("<tr><td>" +
                                data.Table[i].Title + "</td> <td>" +
                                data.Table[i].StartDateTime + "</td> <td>" +
                                data.Table[i].Duration + "</td> <td>" +
                                data.Table[i].Description + "</td><td>" +
                                data.Table[i].Location + "</td><td>Rs." +
                                data.Table[i].TicketRate + "</td><td>" +
                                data.Table[i].Seats + "</td><td>" +
                                data.Table[i].BookedSeats + "</td><td>" +
                                data.Table[i].CreatedDateTime + "</td></tr>"
                            );
                        }
                    }
                    else {
                        $("#PassedEvents").append("<tr><td> No Events Found </td></tr>");
                    }
                    $('#UpcomingEvents').DataTable({ "aaSorting": [[1, "desc"]] });
                    $('#PassedEvents').DataTable({ "aaSorting": [[1, "desc"]] });
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });

        }

        $('#btnDelete').click(function () {
            @*var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';*@

            var id = $("#Event").val().replace("Delete", "");
            var model = {
                Id: id
            }

            $.ajax({
                url: 'http://localhost:52077/api/Account/POSTDeleteEvent',
                data: model,
                type: "POST",
                success: function (savingStatus) {
                    alert('Event Deleted Successfully');
                    onload();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error');
                }
            });
        });

        @*$('#btnInvite').click(function () {
            var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
            var checkedItems = $("input:checkbox[id^=chk]:checked");
            var ids = [];
            if (checkedItems) {
                for (var i = 0; i < checkedItems.length; i++) {
                    var id = checkedItems[i].getAttribute("id").replace("chk", "");
                    ids.push(id);
                }
            }

            var datamodel = {
                UserId: userId,
                FriendsList: ids.join(","),
                EventId: $("#Event").val()
            }

            $.ajax({
                url: 'http://localhost:52077/api/Account/POSTInviteFriends',
                data: datamodel,
                type: "POST",
                cache: false,
                success: function (data) {
                    alert('Event Invite Sent');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error');
                }
            });

        });*@

        function GetEventId(e)
        {
            $("#Event").val(e.id);
        }

        function EditEvent(e) {
            $("#Event").val(e.id);
            var id = $("#Event").val().replace("Edit", "");
            window.location.href = "@Url.Action("Edit", "Event")" +"/"+ id ;
        }

        function DeleteEvent(e) {
            $("#Event").val(e.id);
            //var id = $("#Event").val().replace("Delete", "");
            //var model = {
            //    Id: id
            //}

            //$.ajax({
            //    url: 'http://localhost:52077/api/Account/POSTDeleteEvent',
            //    data: model,
            //    type: "POST",
            //    success: function (savingStatus) {
            //        alert('Event Deleted Successfully');
            //        onload();
            //    },
            //    error: function (xhr, ajaxOptions, thrownError) {
            //        alert('Error');
            //    }
            //});
        }

    </script>

<script src="~/Scripts/jquery.dataTables.min.js"></script>
}