@model EventManagementSystem.Models.UpcomingPassedEventsViewModel

@{
    ViewBag.Title = "My Events";
}
<h1 class="event-group-heading">Upcoming Events</h1>

<div class="row">
    @*@if (Model.UpcomingEvents.Any())
        {
            @Html.DisplayFor(x => x.UpcomingEvents)
        }
        else
        {
            <div class="col-md-4 col-sm-6 col-xs-12">No events</div>
        }*@
    <table id="UpcomingEvents" class="display" style="width:100%"></table>
</div>

<h1 class="event-group-heading">Passed Events</h1>

<div class="row">
    @*@if (Model.PassedEvents.Any())
        {
            @Html.DisplayFor(x => x.PassedEvents)
        }
        else
        {
            <div class="col-md-4 col-sm-6 col-xs-12">No events</div>
        }*@
    <table id="PassedEvents" class="display" style="width:100%"></table>
</div>

@*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <input type="hidden" id="Event" />
                <h4 class="modal-title">Invite Friends</h4>
            </div>
            <div class="modal-body">
                <table id="InviteFriends" class="display" style="width:100%"></table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnInvite" data-dismiss="modal">Invite</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
@*@Html.Partial("_Events")*@

@section scripts {
    <script type="text/javascript">
        var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
        $(document).ready(function () {

            onload();

    });

        function onload() {

            var datamodel = {
                UserId : userId
            }
            $.ajax({
                type: "POST",
                url: "http://localhost:52077/api/Account/POSTMyEvents",
                data: datamodel,
                success: function (data) {
                    $("#UpcomingEvents").empty();
                    if (data.Table.length > 0) {
                        $("#UpcomingEvents").append("<tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th></tr>");
                        for (var i = 0; i < data.Table.length; i++) {
                            //debugger
                            $("#UpcomingEvents").append("<tr><td>" +
                                data.Table[i].Title + "</td> <td>" +
                                data.Table[i].StartDateTime + "</td> <td>" +
                                data.Table[i].Duration + "</td> <td>" +
                                data.Table[i].Description + "</td><td>" +
                                data.Table[i].Location + "</td><td>" +
                                "<button type='button' class='btn btn- info btn- lg' id='" + data.Table[i].Id + "' onclick='GetEventId(this)' data-toggle='modal' data-target='#myModal'>Invite Friends</button></td></tr>"
                                //data.Table[i].IsPublic + "</td></tr>"
                            );
                        }

                        //$("#UpcomingEvents").append("<tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th></tr>");
                        for (var i = 0; i < data.Table2.length; i++) {
                            //debugger
                            $("#InviteFriends").append("<tr><td style='width: 25%'>" +
                                data.Table2[i].Name + "</td> <td style='width: 25%'>" +
                                data.Table2[i].Email + "</td> <td style='width: 25%'>" +
                                "<input type='checkbox' id='chk" + data.Table2[i].Id + "' /></td></tr>"
                                //data.Table[i].IsPublic + "</td></tr>"
                            );
                        }
                    }
                    else {
                        $("#UpcomingEvents").append("<tr><td> No Events Found </td></tr>");
                    }

                    $("#PassedEvents").empty();
                    if (data.Table1.length > 0) {
                        $("#PassedEvents").append("<tr><th>Title</th><th>StartDateTime</th><th>Duration</th><th>Description</th><th>Location</th></tr>");
                        for (var i = 0; i < data.Table1.length; i++) {
                            //debugger
                            $("#PassedEvents").append("<tr><td>" +
                                data.Table1[i].Title + "</td> <td>" +
                                data.Table1[i].StartDateTime + "</td> <td>" +
                                data.Table1[i].Duration + "</td> <td>" +
                                data.Table1[i].Description + "</td><td>" +
                                data.Table1[i].Location + "</td></tr>"
                                //data.Table1[i].IsPublic + "</td></tr>"
                            );
                        }
                    }
                    else {
                        $("#PassedEvents").append("<tr><td> No Events Found </td></tr>");
                    }
                },
                failure: function (data) {
                    alert(data.responseText);
                },
                error: function (data) {
                    alert(data.responseText);
                }
            });

        }

        $('#btnInvite').click(function () {
            var userId = '@Request.RequestContext.HttpContext.Session["UserId"]';
            var checkedItems = $("input:checkbox[id^=chk]:checked");
            var ids = [];
            if (checkedItems) {
                for (var i = 0; i < checkedItems.length; i++) {
                    var id = checkedItems[i].getAttribute("id").replace("chk", "");
                    ids.push(id);
                }
            }

            var datamodel = {
                UserId: userId,
                FriendsList: ids.join(","),
                EventId: $("#Event").val()
            }

            $.ajax({
                url: 'http://localhost:52077/api/Account/POSTInviteFriends',
                data: datamodel,
                type: "POST",
                cache: false,
                success: function (data) {
                    //document.getElementById(e.id).disabled = true;
                    alert('Event Invite Sent');
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert('Error');
                }
            });

        });

        function GetEventId(e)
        {
            $("#Event").val(e.id);
        }


    </script>
}